<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#141d25" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
  </style>
</head>

<body>
  <nav class='navbar'>
    <ul class='nav'>
      <a class='nav-link'  (click)="scrollToElement(home)">
        <li class='ni'>
        Home
        </li>
      </a>
      <a class='nav-link' (click)="scrollToElement(interesses)">
        <li class='ni'>
          Interesses
        </li>
      </a>
      <a class='nav-link' (click)="scrollToElement(projetos)">
        <li class='ni'>
          Projetos
        </li>
      </a>
      <a class='nav-link' (click)="scrollToElement(formacao)">
        <li class='ni'>
          Formação
        </li>
      </a>
      <a class='nav-link' (click)="scrollToElement(pessoal)" >
        <li class='ni'>
          Pessoal
        </li>
      </a>
    </ul>
  </nav>
  <main>
    <section class='primary' id='home' #home>
      <img class='logo' src='assets/personallogo.svg'>
      <div> 
        <h1 class='title'>Leonam Teixeira de Vasconcelos</h1>
        <h4 class='subtitle'>Aluno de engenharia de computação • CEFET-MG</h4>
      </div>
      <div class='social'>
        <ul >
          <li><a href="https://github.com/leonamtv"><img src="assets/icons/github.svg"></a></li>
          <li><a href="https://gitlab.com/leonam_tv"><img src="assets/icons/gitlab.svg"></a></li>
          <li><a href="https://www.linkedin.com/in/leonam-teixeira-de-vasconcelos-b0766a11b/"><img src="assets/icons/linkedin.svg"></a></li>
          <li><a href="https://t.me/leonam_tv"><img src="assets/icons/telegram.svg"></a></li>
          <li><a href="https://wa.me/+5531987098133"><img src="assets/icons/whatsapp.svg"></a></li>
        </ul>
      </div>
    </section>
    <section class='prim content img2' id='interesses'  #interesses>
      <h1>Interesses</h1>
      <h3>{{conteudo.interesses}}</h3>
    </section>
    <section class='sec content img3' id='projetos' #projetos>
      <h1>Projetos</h1>
      <h4>Abaixo, listo alguns de meus projetos disponíveis no github:</h4>

      <div class='projs'>
        <div class='proj' *ngFor='let proj of projs' (click)="goToProject(proj)">
          <h4>{{proj.titulo}}</h4>
          <p>{{proj.desc}}</p>
          <img width=20 src='assets/icons/newtab.png'>
        </div>
      </div>

    </section>
    <section class='prim content form' id='formacao' #formacao>
      <h1>Formação</h1>
      <ul>
        <li *ngFor="let form of conteudo['formacao']">{{form}}<br><br></li>
      </ul><br>
    </section>
    <section class='sec content last' id='pessoal' #pessoal>
      <h1>Pessoal</h1>
      <div class='habs'>
        <div>
          <h3>{{conteudo['habilidades-pes'].title}}</h3>
          <ul>
            <li *ngFor="let item of conteudo['habilidades-pes']['items']">{{item}}<br><br></li>
          </ul><br>
        </div>
        <div>
          <h3>{{conteudo['habilidades-tec'].title}}</h3>
          <ul>
            <li *ngFor="let item of conteudo['habilidades-tec']['items']">{{item}}<br><br></li>
          </ul><br>
        </div>
        <div>
          <h3>{{conteudo['studyingnow'].title}}</h3>
          <ul>
            <li *ngFor="let item of conteudo['studyingnow']['items']">{{item}}<br><br></li>
          </ul><br>
        </div>
      </div>
    </section>
    <section class='end' id='contato' #contato>
        <div>
          Design e implementação por <a href='https://github.com/leonamtv'>Leonam T.V.</a> <br>
        </div>
        <div class='email'>
          leonam.teixeira.vasconcelos@gmail.com
        </div>
    </section>
  </main>
  <button class='fab' (click)='gotToTop()' *ngIf='visible' [@enterAnimation]>
    ˄
  </button>

</body>

</html>